@model Interext.Models.ReportsIndexViewModel
@{
    ViewBag.Title = "Details";
}

@section CssStyles{
    @Styles.Render("~/Content/eventPageCss")
}
<div>
    @using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <div>
            @Html.EditorForModel()
        </div>
        if (Model.Reports.Count != 0)
        {
            <table style="width:300px" id="report-table">
                <tr>
                    <td>Url</td>
                    <td>Report Time</td>
                    <td>
                        Handled?
                        <input type="checkbox" id="checkAll"> CheckAll
                    </td>
                </tr>
                @for (int count = 0; count < Model.Reports.Count; count++)
                {
                    <tr>
                        <td><a href="@Model.Reports[count].ReportedUrl" target="_blank">@Model.Reports[count].ReportedUrl</a></td>
                        <td>@Model.Reports[count].CreatedTime.ToShortDateString()</td>
                        <td>@Html.CheckBoxFor(m => m.Reports[count].Handled)</td>
                        @Html.HiddenFor(m => m.Reports[count].Id)
                    </tr>
                }
            </table>
            <input type="submit" value="Save" class="btn btn-special" />
        }
        else
        {
            <span>There are no unhandled reports</span>
        }
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/admin-table")
}
