@model Interext.Models.EventViewModel
@section CssStyles{
    @Styles.Render("~/Content/eventPageCss")
    @Styles.Render("~/Content/colorPickerCss")
}
@{
    ViewBag.Title = "Create";
}


<div id="content" class="right-sidebar">
    <div class="event-page-content create-page">
        <article>
            @using (Html.BeginForm("Create", "Event", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="event-intro-wrapper">
                    <div class="event-intro">
                        <h1 class="event-title">Create a new event</h1>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="create-form">

                    @Html.ValidationSummary(true)
                    <div class="create-basic-info">

                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control full-control", @placeholder = "Title" })
                        @Html.ValidationMessageFor(m => m.Title)

                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Description" })
                        @Html.ValidationMessageFor(model => model.Description)
                        <div class="input-with-image-wrapper">
                            <input type="text" id="DateOfTheEvent" name="DateOfTheEvent" class="form-control full-control" placeholder="Date of the event" />
                            <input type="text" id="HourTimeOfTheEvent" name="HourTimeOfTheEvent" class="form-control full-control" placeholder="Hour of the event" />
                            <input type="text" id="MinuteTimeOfTheEvent" name="MinuteTimeOfTheEvent" class="form-control full-control" placeholder="Minute of the event" />
                        </div>
                        @Html.ValidationMessageFor(m => m.DateTimeOfTheEvent)
                        <input type="hidden" id="DateTimeOfTheEvent" name="DateTimeOfTheEvent" />
                        <div class="input-with-image-wrapper">

                            @Html.TextBoxFor(m => m.Place, new { @class = "form-control full-control", @placeholder = "Location of the event", @id = "locationSearchTextField" })
                            <input type="hidden" id="PlaceLongitude" name="PlaceLongitude" value="0" />
                            <input type="hidden" id="PlaceLatitude" name="PlaceLatitude" value="0" />

                            @*<input type="text" class="form-control full-control" id="searchTextField" placeholder="Location of event" name="Place" />*@

                            <span class="fa fa-map-marker insert-image-button"></span>
                        </div>

                    </div>
                    <div class="create-more-info">

                        <span class="btn btn-dark fileinput-button">
                            <span class="fa fa-picture-o"></span>
                            <span>Upload image</span>
                            <input type="file" name="ImageUrl" id="ImageUrl">
                        </span>
                        or
                        <span class="btn btn-disabled fileinput-button">
                            <span class="fa fa-picture-o"></span>
                            <span>Choose from stock</span>
                        </span>
                        <br />

                        <div id="colorSelector">
                            <div style="background-color: #000"></div>
                        </div>
                        <div class="left choose-bg-color-text">
                            Choose background color for text:
                        </div>
                        <input type="hidden" id="BackroundColor" name="BackroundColor" value="0,0,0" />
                        <div class="clear"></div>
                        <div class="left choose-bg-alpha-text">
                            Set opacity of the background:
                        </div>
                        <div id="slider" class="left"></div>
                        <input type="hidden" id="BackroundColorOpacity" name="BackroundColorOpacity" value="0.8" />
                        <div class="clear"></div>

                        <br />
                        The side of the text:
                        <select id="dpdTextSide" name="SideOfText">
                            <option value="top">Top</option>
                            <option value="right" selected="selected">Right</option>
                            <option value="bottom">Bottom</option>
                            <option value="left">Left</option>
                        </select>
                        <br />
                        Number of participants:
                        @Html.TextBoxFor(m => m.NumOfParticipantsMin, new { @id = "txtNumOfParticipantsFrom", @class = "short-field", @placeholder = "Min" })
                        @Html.TextBoxFor(m => m.NumOfParticipantsMax, new { @id = "txtNumOfParticipantsTo", @class = "short-field", @placeholder = "Max" })
                        <br />
                        Age of the participants:
                        @Html.TextBoxFor(m => m.AgeOfParticipantsMin, new { @id = "txtAgeOfParticipantsFrom", @class = "short-field", @placeholder = "Min" })
                        @Html.ValidationMessageFor(m => m.NumOfParticipantsMin)
                        @Html.TextBoxFor(m => m.AgeOfParticipantsMax, new { @id = "txtAgeOfParticipantsTo", @class = "short-field", @placeholder = "Max" })
                        @Html.ValidationMessageFor(m => m.NumOfParticipantsMax)
                        <br />
                        Gender of the participants:
                        <select id="dpdGender" name="GenderParticipant">
                            <option value="Both">Both</option>
                            <option value="Male">Male</option>
                            <option value="Female" selected="selected">Female</option>
                        </select>

                        @*<ul>
                                <a href="#" id="popup" onclick="show_popup()">Invite Users</a>
                                <li onclick="TINY.box.show({html:'content here',width:300,height:150})">Invite Users</li>
                            </ul>*@
                        <input type="submit" value="Create" class="btn btn-special" />
                    </div>
                </div>
            }
        </article>
    </div>
</div>

<div id="sidebar" class="right-sidebar">
    <ul>
        <li class="widget">
            <h3>YOUR EVENT DRAFT</h3>


            <div class="event-box" data-src="/Content/images/example-images/event1.jpg" data-width="1144" data-height="791" style="opacity: 1; visibility: visible; width: 312px; height: 312px; padding-bottom: 1px; padding-right: 1px; -webkit-transform: scale(1, 1) roate(0deg); z- ndex: 1; po ition:sta tic;">
                <div class="event-box-innerwrap pagetop" style="-webkit-transform: scale(1, 1) perspective(10000px) rotateX(0deg); opacity: 1; background: url(https://localhost:44301/Content/images/example-images/event1.jpg) 50% 49% / cover no-repeat;">
                    <div>
                        <a href="/Event/Details?Id=1" class="event-box-content right" style="background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.46);">
                            <div class="event-date" id="draftDate">15.5</div>
                            <div class="event-title" id="draftTitle">Evening walks with dogs</div>
                            <div class="event-location" id="draftLocation"><span class="fa fa-map-marker"></span>Hadera, Israel</div>
                            <div class="event-num-of-participants-container">Number of participants: <span id="draftNumOfParticipants">2-5</span></div>
                            <div class="event-age-of-participants-container">Age: <span id="draftAgeOfParticipants">20-30</span></div>
                            <div class="event-gender-container">Gender: <span id="draftGender">Female</span></div>
                            <div class="event-by-person">Created by <img src="/Content/images/example-images/sash.jpg"></div>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/eventPageJs")
    @Scripts.Render("~/bundles/colorPickerJs")
}
