@model Interext.Models.EventViewModel

@{
    ViewBag.Title = "Details";
}

@section CssStyles{
    @Styles.Render("~/Content/eventPageCss")
}


@*<div id="single-page">*@
<div>
    <div id="content" class="right-sidebar">
        <div class="event-page-content">
            <article>
                <div class="event-intro-wrapper" style="background-image: url('@Model.ImageUrl');">
                    <div class="event-intro">
                        <h1 class="event-title">
                            @Model.Title
                        </h1>
                        <div class="event-date">
                            <div>
                                @Model.DateOfTheEventNoYear
                            </div>
                            <div class="event-time">
                                <span class="fa fa-clock-o"></span> @Model.DateTimeOfTheEvent.Hour.@Model.DateTimeOfTheEvent.Minute
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="event-details">
                            <span class="fa fa-map-marker"></span>@Model.Place<br />
                            <a href="~/Account/ShowProfile">
                                <div class="createdby">Created by</div> <img src="@Model.CreatorUser.ImageUrl" />
                                <div class="creator-name">@Model.CreatorUser.FirstName @Model.CreatorUser.LastName</div>
                            </a>
                            <div class="clear"></div>
                        </div>
                        <table class="event-restrictions">
                            <tr>
                                <td>Ages</td>
                                <td>
                                    @Model.AgeOfParticipantsMin@if (Model.AgeOfParticipantsMax != null)
                                    {<span>-</span>@Model.AgeOfParticipantsMax}
                                    else
                                    {<span>+</span>}
                                </td>
                            </tr>
                            <tr>
                                <td>Number Of Participants</td>
                                <td>
                                    @Model.NumOfParticipantsMin@if (Model.NumOfParticipantsMax != null)
                                    {<span>-</span>@Model.NumOfParticipantsMax}
                                    else
                                    {<span>+</span>}
                                </td>
                            </tr>
                            @if (Model.GenderParticipant != "Both")
                            {
                                <tr><td>Gender</td><td>@Model.GenderParticipant</td></tr>
                            }
                            <tr><td>Interests</td><td>
                                @Model.InterestsToDisplay
                                </td></tr>
                        </table>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="event-desc">
                    <p>@Model.Description</p>
                </div>
            </article>
        </div>
        <div class="clear"></div>

    </div><!--#content-->

    <div id="sidebar" class="right-sidebar">
        <ul>
            <li>
                <form>
                    <input value="+Join" type="submit" class="join-event btn btn-special" />
                </form>
            </li>
            @*<li class="widget">
                    <h3>LOOKING FOR SOMETHING?</h3><form action="http://contrast.freevision.me/" method="get" class="wp-search-form">
                        <i class="fa fa-search"></i>
                        <input x-webkit-speech="" speech="" type="text" name="s" id="search" placeholder="Type and hit Enter">
                    </form>
                </li>*@
            <li class="widget">
                <h3>SIMILAR EVENTS</h3><div class="ozy-latest-posts">
                    <a href="/Event/Details?id=1" title="Arizona Muse" style="background-image:url('/Content/images/example-images/event1.jpg')"></a>
                    <a href="/Event/Details?id=1" title="Arizona Muse" style="background-image:url('/Content/images/example-images/event2.jpg')"></a>
                    <a href="/Event/Details?id=1" title="Arizona Muse" style="background-image:url('/Content/images/example-images/event3.jpg')"></a>
                    <a href="/Event/Details?id=1" title="Arizona Muse" style="background-image:url('/Content/images/example-images/event4.png')"></a>
                    <a href="/Event/Details?id=1" title="Arizona Muse" style="background-image:url('/Content/images/example-images/event5.jpg')"></a>
                    <a href="/Event/Details?id=1" title="Arizona Muse" style="background-image:url('/Content/images/example-images/event6.jpg')"></a>
                    <a href="/Event/Details?id=1" title="Arizona Muse" style="background-image:url('/Content/images/example-images/event7.jpg')"></a>
                    <a href="/Event/Details?id=1" title="Arizona Muse" style="background-image:url('/Content/images/example-images/event8.jpg')"></a>
                    <a href="/Event/Details?id=1" title="Arizona Muse" style="background-image:url('/Content/images/example-images/event9.jpg')"></a>
                </div>
            </li>
            <li>
                @Html.ActionLink("Delete The Event", "Delete", new { id = Request.QueryString["Id"] })
            </li>
        </ul>
    </div>
    <!--sidebar-->
    <div class="clear"></div>


</div>
