@model Interext.Models.PlaceViewModel
@section CssStyles{
    @Styles.Render("~/Content/eventPageCss")
    @Styles.Render("~/Content/colorPickerCss")
}
@{
    ViewBag.Title = "Edit Event";
}


<div>
    <article>
        @using (Html.BeginForm("Edit", "Place", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.Hidden("id", Request["id"])
            @Html.AntiForgeryToken()
            <div class="event-intro-wrapper">
                <div class="event-intro">
                    <h1 class="event-title">Edit your place</h1>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="create-form">

                @Html.ValidationSummary(true)
                <div class="create-basic-info">

                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control full-control", @placeholder = "Title" })
                    @Html.ValidationMessageFor(m => m.Title)

                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Description" })
                    @Html.ValidationMessageFor(model => model.Description)
                    <div class="input-with-image-wrapper">

                        @Html.TextBoxFor(m => m.LocationAddress, new { @class = "form-control full-control", @placeholder = "Location of the event", @id = "locationSearchTextField" })
                        <input type="hidden" id="PlaceLongitude" name="PlaceLongitude" value="0" />
                        <input type="hidden" id="PlaceLatitude" name="PlaceLatitude" value="0" />
                        <span class="fa fa-map-marker insert-image-button"></span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ImageUrl, new { @class = "control-label col-md-2" })
                    <span class="btn btn-dark fileinput-button">
                        <span class="fa fa-picture-o"></span>
                        <span>Upload image</span>
                        <input type="file" name="ImageUrl" id="ImageUrl">
                    </span>
                </div>
            </div>
        }
    </article>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/placeJs")
}
