@model Interext.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}

<section id="loginForm" class="form-signin">
    You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
    Please enter aditional information for this site below and click the Register button to finish
    logging in.@using (Html.BeginForm("ExternalLoginConfirmation", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "RegisterForm" }))
    {
        @*@using (Ajax.BeginForm("Register", "Account", new AjaxOptions { HttpMethod = "Post", OnFailure = "onRegisterFailed", OnSuccess = "onRegisterSuccess" }, new { id = "registerForm", enctype = "multipart/form-data" }))
            {*@
        <div class="all-parts">
            <div class="first-part">
                <h1 class="form-signin-heading flipping-hover-area">Register to INTERE<span class="flipping-text"><span data-title="X">X</span></span>TS</h1>
                @Html.AntiForgeryToken()
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control first-name", @placeholder = "First name" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control last-name", @placeholder = "Last name" })
                <div class="clear"></div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @type = "email" })
                @Html.HiddenFor(m => m.BirthDate, new { @class = "form-control", @placeholder = "Birth day", @value = "1/1/" + (DateTime.Today.Year - 10) })
                <div class="birthdate">Birth day: </div>
                <select id="BirthDateDay" class="form-control birth-day">
                    @for (int i = 1; i <= 31; i++)
                    {
                        if (Model.BirthDate.Day == i)
                        {
                            <option value="@i" selected>@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
                <select id="BirthDateMonth" class="form-control birth-month">
                    @for (int i = 1; i <= 12; i++)
                    {
                        if (Model.BirthDate.Month == i)
                        {
                            <option value="@i" selected>@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
                <select id="BirthDateYear" class="form-control birth-year">
                    @for (int i = DateTime.Today.Year; i >= DateTime.Today.Year - 120; i--)
                    {
                        if (Model.BirthDate.Year == i)
                        {
                            <option value="@i" selected>@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Where do you live?", @type = "text", @id = "locationSearchTextField" })
                <div class="Gender left">
                    Gender:
                    <br />
                    @Html.RadioButtonFor(m => m.Gender, "M", new { @checked = "checked" })
                    <span>Male</span>
                    @Html.RadioButtonFor(m => m.Gender, "F")
                    <span>Female</span>
                </div>

                <div class="right btn btn-dark fileinput-button choose-image">
                    <span class="fa fa-picture-o"></span>
                    <span>Upload image</span>
                    @*<input type="file" name="ImageUrl" id="ImageUrl">*@
                    @Html.TextBoxFor(m => m.ImageUrl, new { @type = "file" })
                </div>

                <button class="btn btn-lg btn-special btn-block next-button" type="button">Next</button>
            </div>
            <div class="second-part">
                <h1 class="form-signin-heading flipping-hover-area">Register to INTERE<span class="flipping-text"><span data-title="X">X</span></span>TS</h1>
                <div class="interests-container mousescroll">
                    <ul class="interests-list">
                        @foreach (var category in ViewBag.AllInterests)
                        {
                            <li>
                                <div class="main-category">
                                    <input type="checkbox" value="@category.Title" name="@category.Title" checked="@category.IsSelected" class="allCategoryInterests" data-id="@category.Id">
                                    <div class="image" style="background-image: url('@category.ImageUrl')"></div>
                                    <div class="title">@category.Title</div>
                                </div>
                                <ul>
                                    @foreach (var subCategory in category.SubInterests)
                                    {
                                        <li>
                                            <input type="checkbox" value="@subCategory.Title" class="sub-category" checked="@subCategory.IsSelected" data-id="@subCategory.Id">@subCategory.Title
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                    </ul>
                    <input type="hidden" id="selectedInterests" name="selectedInterests" value="" />
                </div>
                <button class="btn btn-lg btn-dark btn-block back-button" type="button">Back</button>
                <button class="btn btn-lg btn-special btn-block sumbit-button" type="submit">Register</button>
                <div class="clear"></div>

            </div>
            <div class="clear"></div>

        </div>
        @Html.ValidationSummary(false, "Please fill the required fields")
    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/register")
}

