@model Interext.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<section id="loginForm" class="form-signin">
    <h1 class="form-signin-heading">Register to INTEREXTS</h1>
    @*@Html.Partial("_ExternalLoginsListPartial", new Interext.Models.ExternalLoginViewModel() { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })*@

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control first-name", @placeholder = "First name" })
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control last-name", @placeholder = "Last name" })
        <div class="clear"></div>
        @Html.ValidationMessageFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.LastName)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @type = "email" })
        @Html.ValidationMessageFor(m => m.Email)
        @*@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
            @Html.ValidationMessageFor(m => m.UserName)*@
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
        @Html.ValidationMessageFor(m => m.Password)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)

        <script>
            $(function () {
                $("#BirthDate").datepicker();
            });
        </script>
        <input type="text" id="BirthDate" name="BirthDate" class="form-control" placeholder="Birth date" />
        @Html.ValidationMessageFor(m => m.BirthDate)
        <p></p>
        @*@Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control", @placeholder = "Birth date" })
            @Html.ValidationMessageFor(m => m.BirthDate)*@
        <input id="searchTextField" type="text" size="50" placeholder="Where you live.." name="Address">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
        @Html.RadioButtonFor(m => m.Gender, "M", new { @checked = "checked" })
        <span>Male</span>
        @Html.RadioButtonFor(m => m.Gender, "F")
        <span>Female</span>
        @*@Html.LabelFor(model => model.ImageUrl, new { @class = "form-control" })*@
        <label for="ImageUrl" class="form-control">Image:</label>
        <input type="file" name="ImageUrl" id="ImageUrl" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        @*@Html.TextBoxFor(m=>m.Address, new { @class = "form-control address", @placeholder = "Where your live..." })*@

    }

    @section Scripts {
        @Scripts.Render("~/bundles/google")
    }

</section>