@model IEnumerable<Interext.Models.InterestViewModel>
<div class="open-popup-container">
    <div class="btn btn-dark open-popup choose-interests">Choose interests</div>
    <div class="data-for-popup">
        <ul class="interests-list">
            @foreach (var category in Model)
            {
                <li>
                    <div class="main-category">
                        <input type="checkbox" value="@category.Title" name="@category.Title" checked="@category.IsSelected" class="allCategoryInterests" data-id="@category.Id">
                        <div class="image" style="background-image: url('@category.ImageUrl')"></div>
                        <div class="title">@category.Title</div>
                    </div>

                    @if (category.IsSelected)
                    {
                        <ul style="display:block;">

                            @foreach (var subCategory in category.SubInterests)
                            {
                                <li>
                                    <input type="checkbox" value="@subCategory.Title" class="sub-category" checked="@subCategory.IsSelected" data-id="@subCategory.Id">@subCategory.Title
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <ul>

                            @foreach (var subCategory in category.SubInterests)
                            {
                                <li>
                                    <input type="checkbox" value="@subCategory.Title" class="sub-category" checked="@subCategory.IsSelected" data-id="@subCategory.Id">@subCategory.Title
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>
</div>
<input type="hidden" id="selectedInterests" name="selectedInterests" value="" />

